
{% set perPackageManager = {
    "npm": {
        "packages": "pkgs.nodejs_20",
        "install": "npm ci --prefer-offline --no-audit --no-progress --timing && npm i @expo/ngrok@^4.1.0",
        "previewWebPrefix": "["npm", "run", "web", "--"]",
        "previewAndroidPrefix": "["npm", "run", "android"]"
    },
    "bun": {
        "packages": "pkgs.bun",
        "install": "bun i @expo/ngrok@^4.1.0",
        "previewWebPrefix": "["bun", "web"]",
        "previewAndroidPrefix": "["bun", "android"]"
    },
    "pnpm": {
        "packages": "pkgs.nodePackages.pnpm pkgs.jdk21_headless pkgs.gradle",
        "install": "pnpm install --prefer-offline --no-audit --no-progress --timing && pnpm add @expo/ngrok@^4.1.0 && npx -y expo install expo-dev-client && npx -y expo prebuild --platform android && sed -i 's/org.gradle.jvmargs=-Xmx2048m -XX:MaxMetaspaceSize=512m/org.gradle.jvmargs=-Xmx4g -XX:MaxMetaspaceSize=512m/' "android/gradle.properties"",
        "previewWebPrefix": "["pnpm", "web", "--"]",
        "previewAndroidPrefix": "["pnpm", "android"]"
    },
    "yarn": {
        "packages": "pkgs.yarn",
        "install": "yarn && yarn add @expo/ngrok@^4.1.0",
        "previewWebPrefix": "["yarn", "web"]",
        "previewAndroidPrefix": "["yarn", "android"]"
    },
}[packageManager] %}

{ pkgs, ... }: {
  channel = "stable-25.05"; # Updated for latest stable channel
  packages = [{{ perPackageManager.packages }}];
  env = { EXPO_USE_FAST_RESOLVER = 1; };
  idx = {
    extensions = [
      "msjsdiag.vscode-react-native"
    ];
    workspace = {
      onCreate = {
        install = "{{ perPackageManager.install }}";
      };
      onStart = {
        android = ''
          echo -e "\033[1;33mWaiting for Android emulator to be ready...\033[0m"
          adb -s emulator-5554 wait-for-device && {{ perPackageManager.previewAndroidPrefix }}
        '';
      };
    };
    previews = {
      enable = true;
      previews = {
        web = {
          command = {{ perPackageManager.previewWebPrefix }} ++ ["--port" "$PORT"];
          manager = "web";
        };
        android = {
          command = ["tail" "-f" "/dev/null"];
          manager = "web";
        };
      };
    };
  };
}
