# React Native + Expo Starter

This project was generated using **{{ packageManager }}** as the package manager.

## 🚀 Getting Started

1. **Install dependencies**
   ```bash
   {{ packageManager }} install
